/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
/* reset css */
/* start (1) thẻ header */
header {
  position: absolute;
  /* làm thẻ header đè lên thẻ body */
  top: 30px;
  left: 0;
  width: 100%;
  /* border: 1px solid blue; */
}
.container {
  max-width: 1199px;
  margin: 0px auto;
  /* làm thẻ container tự canh đều 2 bên */
  /* border: 1px solid red; */
}
.header {
  display: flex;
  /* làm thẻ a và thẻ nav lên hàng ngang */
  justify-content: space-between;
  align-items: center;
}
.header nav {
  display: flex;
  /* làm cho thẻ ul và button lên hàng ngang */
  justify-content: space-between;
  align-items: center;
  /* margin: 0px auto; */
}
.header ul {
  display: flex;
  /* làm cho các thẻ li  lên hàng ngang */
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  /* làm các thẻ li cách nhau bên phải */
}
.header nav li {
  list-style: none;
  /* làm dấu chấm the li ko hien len */
  font-size: 14px;
  margin-right: 20px;
  /* làm các thẻ li cách nhau */
}

/* start làm chữ chạy khi hover */
.header span {
  /* border: 1px solid rgb(0, 47, 255); */
  display: inline-block;
}
/* span phải ở display : inline-block */
.header li :hover {
  color: red;
}
.header li :hover span {
  animation: upToDown 0.4s;
}
/* thêm ,.header li :hover i  sẽ chạy cả icon */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* end làm chữ chạy và biến khi hover */
a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  text-transform: capitalize;
}

/* button doi mau */
.buttonmau {
  padding: 20px 15px;
  font-size: 15px;
  font-weight: 200px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  /* định nghĩa màu thay đổi */
  background-size: 200%;
  /* background-size: 200%; là đổi màu giống mẫu */
  border: 1px solid;
  transition: 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.buttonmau:hover {
  background-position-x: right;
  background-position-y: center;
}
/* end button doi mau */
/* end (1) thẻ header */

/*  */
/* start wearethebest */
.wearethebest {
  background-image: url(./hinh/./pic2.png);
  padding-top: 200px;
  /* overflow: hidden; */
  background-position: top;
  background-size: 100%;
  /* border: 1px solid yellow; */
}
.container_weare {
  max-width: 1199px;
  margin: 5px auto;
  padding: 5px 0px;
  /* border: 1px solid blue; */
  display: block;
}
.weare {
  /* border: 1px solid black; */
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weare_left {
  width: 60%;
}
/* start left one */
.left_one {
  margin-bottom: 20px;
}
.left_two p {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}
p {
  color: #f55f8d;
  padding: 10px 0px;
  font-size: 25px;
}
h2 {
  font-size: 60px;
}
/* end left one */
/* start left two */
.weare_left .left_two {
}
.weare_left .left_two p {
  font-size: 18px;
  margin: 15px 5px;
}
.weare_left .left_two ul {
  margin-bottom: 10px;
}
.weare_left .left_two li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 23px;
}
.weare_left .left_two i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 15px;
}
/* en left two */
.weare_right {
  width: 40%;
}
.weare_right img {
  max-width: 100%;
}
/* end wearethebest */
/* start service */
.service {
  background-image: url(./hinh/./bg2.png);
  padding-bottom: 200px;
  background-size: cover;
  text-align: center;
}
.container_one {
  text-align: center;
}
.container_two {
  max-width: 1199px;
  margin: 0px auto;
  /* border: 1px solid rgb(255, 0, 157); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}
.services__item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: 0.5s;
  /* border: 1px solid rgb(0, 255, 162); */
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item img {
  width: 215px;
}
.services__item h3 {
  font-size: 22px;
  padding: 20px 0px;
}
.services__item p {
  color: black;
  font-size: 16px;
}
/* end service */
/* start business */

.business {
  background-image: url(./hinh/./bg15.png);
  background-size: 100%;
  padding: 100px;
}

/* .business .container {
  position: relative;
} */
.business_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* position: relative; */
}
.business_list_one {
  width: 55%;
  /* border: 1px solid rgb(242, 255, 0); */
  position: relative;
  left: -160px;
  padding-top: 0px 0px;
}
.business_list_one img {
  background-size: cover;
  width: 110%;
  border-radius: 100px;
}
/* end business_list_one */

/* start business_list_two  */
.business_list_two {
  width: 50%;
  /* border: 1px solid rgb(255, 0, 140); */
}
.business_list_two p {
  color: #636363;
  font-size: 22px;
  margin-bottom: 15px;
}
.two_title p {
  color: #f55f8d;
}
.business_list_two li {
  list-style: none;
  font-size: 14px;
  padding: 10px 0px;
}
.business_list_two i {
  font-size: 15px;
  color: #f55f8d;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  border: 1px solid rgb(255, 0, 140);
  border-radius: 30px;
  margin-right: 10px;
}
/* end business_list_two */
/* end business */

/* start number */
.number {
  padding: 80px;
  background-position-x: center;
  background-position-y: center;
  background-image: url(./hinh/./bg14.png);
  background-size: cover;
  text-align: center;
}
.number_list {
  display: flex;
  justify-content: space-around;
}
.number_list_one {
  width: 25%;
  /* border: 1px solid rgb(0, 0, 255); */
}
.number_list_one i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  text-align: center;
}
.number_list_one p {
  font-size: 70px;
}
.number_list_one nav {
  font-size: 20px;
}
/* end number */
/* start ourfeatures */
.ourfeatures {
  padding: 100px;
  background-image: url(./hinh/./bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 0;
  /* overflow: hidden; */
}
.ourfeature_list {
  display: flex;
  justify-content: center;
  algin-items: center;
}
.ourfeature_left {
  width: 50%;
  margin: 0px 20px;
}
.ourfeature_right {
  width: 50%;
}

.ourfeature_right img {
  max-width: 100%;
}
.left_two_o {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 600px; */
  padding: 0px;
  text-align: center;
}
.two_frist {
  color: white;
  width: 100%;
  height: 120px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-itmes: center;
  margin: 30px 0px;
  padding: 5px;
  background: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
}

.alone {
  width: 100%;
  height: 120px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-itmes: center;
  margin: 30px 0px;
  padding: 1px;
  background: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
  left: 30px;
}

.list_icon {
  width: 20%;
  height: 100%;
  color: #f55f8d;
  font-size: 60px;
  line-height: 120px;
  /* border: 1px solid rgb(55, 0, 255); */
  margin: 0px 10px;
  background: rgb(255, 254, 254, 0.2);
  transition: 0.1s;
}

.list_title {
  width: 80%;
  /* border: 1px solid rgb(0, 255, 21); */
  color: white;
  background: white;
  text-align: left;
  transition: 1s;
}
.list_title h3 {
  color: #636363;
  font-size: 16px;
  transition: 1s;
}
.list_title p {
  color: black;
  font-size: 25px;
  font-weight: 400;
  transition: 1s;
}
.two_frist:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
.two_frist:hover .list_icon,
.list_title {
  color: white;
  background: none;
}
.two_frist:hover .list_title p {
  color: white;
  background: none;
}
.two_frist:hover .list_title h3 {
  color: white;
  background: none;
}
/* end ourfeatures */
/* start portdolio */
.portfolio {
  padding: 100px;
  text-align: center;
}
.portfolio__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 30px;
  margin: 20px auto;
}
.portfolio__item {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s;
  position: relative;
  color: black;
}
.portfolio__item img {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.item1 {
  grid-column: 1/3;
  /* grid-column: start/end; */
  grid-row: 1 / 2;
  /* grid-row: 1 / span 2; */
  /*   grid-row: 1 / span 2;
  bắt đâu, số lượng lấy */

  transition: 1s;
}
.item2 {
  grid-column: 3/4;
  grid-row: 1 / 2;
  color: black;

  transition: 1s;
}
.item5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;

  transition: 1s;
}
.item6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;

  transition: 1s;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  text-align: left;
  transform: translateY(150px);
  transition: 1s;
}
.portfolio__text p {
  color: #fff;
  font-size: 15px;
}
.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: 1s;
}
.portfolio__item :hover.portfolio__overlay {
  opacity: 1;
}
.portfolio__overlay a {
  color: white;
  cursor: pointer;
}
.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}
/* end portdolio */
/* start plan */
.plan__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  gap: 30px;
}
.title {
  text-align: center;
  font-size: 30px;
}
.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: 0.5s;
  text-align: center;
}
.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item img {
  width: 125px;
}
.plan__item span {
  font-size: 50px;
  color: #f8ae56;
}
.plan__item p {
  color: black;
}
li {
  list-style: none;
  padding: 5px 0;
}
.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.plan__item:hover {
  border-image: url(./hinh/./br.png) 1 round;
}
/* end plan */
/* start ourclients*/

/* end ourclients */
